
.col-lg-6
  %h4
    = current_user.full_name
  - if current_user.errors.any?
    %h3 Erros:
    %ul
      - current_user.errors.full_messages.each do |message|
        %li
          = message
  =form_for current_user, html: { multipart: true, class: 'form-horizontal' } do |f|
    .form-group
      .col-sm-2.control-label
        = f.label :first_name
      .col-sm-8
        = f.text_field :first_name, class: 'form-control'
    .form-group
      .col-sm-2.control-label
        = f.label :last_name
      .col-sm-8
        = f.text_field :last_name, class: 'form-control'
    %hr
    .form-group
      .col-sm-12
        = f.button 'Update', class: 'btn btn-success'
        = link_to 'Back', user_path, class: 'btn btn-default'