%div{:style => "float: left; width:100%"}
  %div{:style => "float: left; width:30%; margin: 50px 0 50px 0;  background: #828282;"}
    %strong
      %p{:style => "margin: 0 0 0 20px;"} Users
    - @users.each do |u|
      %p{:style => "margin: 5px 0 5px 10px;"}
        = u.email
  %div{:style => "float: left; width:40%; margin: 50px 0 50px 8%;  background: #828282;"}
    %strong
      %p{:style => "margin: 0 0 0 20px;"} Evens
    - @users.each do |u|
      %p{:style => "margin: 5px 0 5px 10px;"}
        = u.id
        = link_to "Navigation", show_event_path(:id => u.id, :event_type => "Navigation" )
        |
        \#{ link_to "User sign in", show_event_path(:id => u.id, :event_type => "User_in" ) }
        |
        \#{ link_to "User sign out", show_event_path( :id => u.id, :event_type => "User_out" ) }
        |
        \#{ link_to "Likes", show_event_path( :id => u.id, :event_type => "Like" ) }
        |
        \#{ link_to "Comments", show_event_path( :id => u.id, :event_type => "Comment" ) }
.clear