%h1 tits
%ul
  - @events.each do |ev|
    %li
      - nice = nice_params(ev)
      = nice[:user]
      = nice[:description_1]
      = link_to nice[:link], nice[:url]
      = nice[:description_2]
      %strong
        = nice[:data]
= will_paginate @events
.clear