.row
  .col-sm-8.view-picture
    .panel
      .panel-body
        = image_tag @picture.image(:large)
  .col-sm-4.info-picture
    .panel
      .panel-heading
        %span{ class: 'like-icons', data: { 'picture-id': @picture.id } }
          %i.glyphicon.glyphicon-heart{ data: { 'url': 'positive_likes' } }
            %span
              = @picture.positive_likes_count
          %i.glyphicon.glyphicon-heart-empty{ data: { 'url': 'negative_likes' } }
            %span
              = @picture.negative_likes_count
    %h4 Comments list
    - @comments.each do |c|
      .panel.panel-default
        .panel-heading
          = c.user.full_name
        .panel-body
          = c.body
.row
  .col-lg-8.col-sm-offset-2
    .jcarousel-wrapper
      .jcarousel
        %ul
          - @pictures.each do |p|
            %li
              = link_to p do
                = image_tag p.image.url(:thumb)
              %span.like-icons{ data: { 'picture-id': p.id } }
                %i.glyphicon.glyphicon-heart{ data: { 'url': 'positive_likes' } }
                  %span
                    = p.positive_likes_count
                %i.glyphicon.glyphicon-heart-empty{ data: { 'url': 'negative_likes' } }
                  %span
                    = p.negative_likes_count
      %a.jcarousel-control-prev{:href => "#"} ‹
      %a.jcarousel-control-next{:href => "#"} ›
      %p.jcarousel-pagination