.row
  .col-sm-8
    = image_tag @picture.image(:view), class: 'center-block'
    %span{ class: 'like-icons', data: { 'picture-id': @picture.id } }
      %i.glyphicon.glyphicon-heart{ data: { 'url': 'positive_likes' } }
        %span
          = @picture.positive_likes_count
      %i.glyphicon.glyphicon-heart-empty{ data: { 'url': 'negative_likes' } }
        %span
          = @picture.negative_likes_count
%hr
.row
  .col-lg-8.col-sm-offset-2
    .jcarousel-wrapper
      .jcarousel
        %ul
          - @pictures.each do |p|
            %li
              = link_to p do
                = image_tag p.image.url(:thumb)
              %span.like-icons{ data: { 'picture-id': p.id } }
                %i.glyphicon.glyphicon-heart{ data: { 'url': 'positive_likes' } }
                  %span
                    = p.positive_likes_count
                %i.glyphicon.glyphicon-heart-empty{ data: { 'url': 'negative_likes' } }
                  %span
                    = p.negative_likes_count
      %a.jcarousel-control-prev{:href => "#"} ‹
      %a.jcarousel-control-next{:href => "#"} ›
      %p.jcarousel-pagination