.row
  .col-lg-8.col-lg-offset-2{ style: 'padding-bottom: 30px;' }
    .panel-body
      .input-group
        = text_field_tag :name, nil, id: 'tags',
                                               placeholder: 'Search for...', class: 'form-control',
                                               data: { autocomplete_source: categories_path }
        %span.input-group-btn
          %button.btn.search
            %i.glyphicon.glyphicon-search
.row
  %h1 The Top Liked Categories
  .row
    - @categories.each do |category|
      - if category.pictures.present?
        .col-xs-6.col-md-3
          = link_to category_pictures_path(category.id), class: 'category thumbnail' do
            = image_tag category.pictures.first.image.url(:medium)
          .caption
            %h3= category.name
= render 'dialog'