!!!
%html
  %head
    %title Cool Chat
    = csrf_meta_tags
    %meta{content: 'width=device-width,initial-scale=1', name: 'viewport'}/
    %meta{charset: 'utf-8'}/
    %meta{content: 'IE=edge,chrome=1', 'http-equiv': 'X-UA-Compatible'}/

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %nav.navbar.navbar-inverse
      .container-fluid
        .row
          .col-lg-2
            %ul.nav.navbar-nav
              %li
                = link_to 'Cool chat', root_path, class: 'navbar-brand'
          .col-lg-7
          .col-lg-3
            .navbar-header
              %button.navbar-toggle.collapsed{ 'aria-expanded': 'false', 'data-target': '#bs-example-navbar-collapse-1', 'data-toggle': 'collapse', type: 'button' }
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              %ul.nav.navbar-nav
                - if user_signed_in?
                  %li= link_to current_user.full_name, user_path(current_user)
                  %li= link_to 'Log out', destroy_user_session_path(current_user), method: :delete
                - else
                  %li
                    = link_to 'Sign up', new_user_registration_path
                    = "or #{link_to 'Sign in', new_user_session_path}"
    .container-fluid
      .col-lg-1
      .col-lg-10
        = yield
      .col-lg-1
  %footer.navbar-fixed-bottom.text-center
    Copyright &copy; 2013 Cool Chat