!!!
%html
  %head
    %title My Analitics
    = stylesheet_link_tag 'application'
    = javascript_include_tag  'application'
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          = link_to 'Like Chat', root_path
        #user-navigation
          %ul.wat-cf
            #footer
              .block
                %li
                  - if user_signed_in?
                    = "Signed in as #{current_user.email}"
                  - else
                    = link_to 'Sign up', new_user_registration_path
                    or #{link_to 'Sign in', new_user_session_path}
        #main-navigation
          %ul.wat-cf
      #wrapper.wat-cf
        .my_menu
          = link_to 'Categories', categories_path
          |
          = link_to 'All Pictures', pictures_path
          |
          = link_to 'All Comments', comments_path
          |
          = link_to 'User actions', events_path

        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
              %p.notice= notice
              %p.alert= alert
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year} My Analitics.
        #sidebar
          = yield :sidebar
